@mixin reset($props: ()) {
	textarea, select, option, label, input, button {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		text-transform: inherit;
	}
	button, input {
		outline: none;
	}
	input::placeholder {
		color: inherit;
		font-family: inherit;
	}
}