// Essentials

$primary: #0B6CAC;
$white: #FFFFFF;
$black: #040404;
$gray: #F1F1F1;
$gray-deco: #DDDDDD;
$gray-title: #BCBCBC;
$gray-subtitle: #DDDDDD;
$gray-text: #555555;

// Variants

$p-trans: rgba(11, 108, 172, .85);
$b-trans: rgba(4,4,4,.1)