@charset 'UTF-8';
@use './modules/vars/_all' as *;
@use './modules/utils/_all' as *;
@use './modules/mixins/_layout' as layout;

@include fonts-get(firasans, (400, 500,700));
@include fonts-get(rubik, (400, 500, 600, 700));
@include reset;
@include custom(());

/* All */

	.general-margin {
		width: 75%;
		margin: 0 auto;
		position: relative;
		z-index: 1
	}

	h1, h2, h3, h4, h5  {
		font-family: 'firasans';
		color: $colors-black;
	}

	h2 {
		font-size: 1.8rem;
	}

	p:not(:first-child) {
		margin-top: 10px;
	}

	a.cta-btn {
		background-color: transparent;
		border: 2px solid $colors-primary;
		border-radius: 50px;
		color: $colors-primary;
		display: inline-block;
		font-weight: 500;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: all .2s ease;

		&.active, &:hover {
			background-color: $colors-primary;
			color: $colors-white;
		}
	}

	hgroup {
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 40px;

		h3 {
			color: $colors-primary;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		&::after {
			background-color: $colors-primary;
			border-radius: 10px;
			bottom: 0;
			content: "";
			height: 5px;
			position: absolute;
			width: 50px;
		}

		&.center-dir {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: calc(80%);

			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	section {
		padding: 80px 0;

		.btn-wrapper {
			margin-top: 30px;
		}

		&.blue-bg {
			h1, h2, p {
				color: $colors-white;
			}

			h3 {
				color: $colors-gray-subtitle;
			}

			hgroup::after {
				background-color: $colors-gray-deco;
			}

			.cta-btn {
				border-color: $colors-white;
				color: $colors-white;

				&.active, &:hover {
					background-color: $colors-white;
					color: $colors-primary;
				}
			}
		}
	}

	.banner {
		@include layout.flex((j-c: center, a-i: center, w: wrap));

		background-repeat: no-repeat;
		background-size: cover;
		min-height: calc(100vh - 110px);
		position: relative;
		overflow: hidden;
		z-index: 1;

		h1 {
			color: $colors-white;
			font-size: 4rem;
			position: relative;
			text-align: center;
			z-index: 2;

			.h1-page, .h1-name {
				display: block;
			}
			
			.h1-name {
				color: $colors-gray-title;
			}
		}

		&.grow {
			min-height: calc(100vh - 38px);
		}
	}

	.two-content-wrapper {
		@include layout.flex((j-c: space-between, w: wrap));
		flex-direction: row-reverse;

		.longest-side {
			width: calc(60% - 25px);
	
			hgroup {
				width: 100%;
				text-align: left;
	
				&::after {
					left: 0;
					transform: translateY(-50%);
				}
			}
		}
	
		.shortest-side {	
			width: calc(40% - 15px);			
		}

		.left-side, .right-side {
			width: calc(50% - 20px);
		}
	}

	.three-content-wrapper {
		@include layout.grid((col: 3, gap: 30px));
	}

	.logo {
		height: 100px;

		img {
			height: 100%;
		}
	}

	.bg-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $colors-p-trans;
		z-index: 0;
	}

/* Specific */
	/* header */
	header {
		background-color: $colors-white;
		position: relative;
		z-index: 10;
		height: 143px;

		.general-margin, ul {
			@include layout.flex((j-c: space-between, a-i: center, w: wrap));
		}

		.general-margin {
			height: 100%;
		}

		.header-wrapper {
			height: 100px;
		}

		.contact-info {
			background-color: $colors-gray;
			padding: 5px 0;

			ul {
				li {
					list-style: none;
					position: relative;

					a {
						@include layout.flex((a-i: center, w: wrap));
						padding: 5px 0;
						text-decoration: none;

						i {
							color: $colors-primary;
							font-size: 1.2rem;
						}
						span {
							color: $colors-black;
							font-size: 0.9rem;
							margin-left: 10px;
						}
					}
				}

				&.extended-social-networks li:not(:first-child) {
					margin-left: 15px;
				}

				&.social-networks li {
					&:not(:first-child) {
						margin-left: 30px;

						&::before {
							content: "";
							background-color: $colors-gray-deco;
							height: 100%;
							left: -16px;
							position: absolute;
							width: 2px;
						}
					}
				}
			}
		}

		.logo {
			width: auto;
			height: 100%;
			padding: 10px 0;

			img {
				height: 100%;
				width: auto;
			}
		}

		.nav-menu-btn-open-wrapper {
			display: none;
			.nav-menu-btn-open {
				display: block;
				position: relative;
				cursor: pointer;
				width: 30px;
				height: 40px;
				background-color: transparent;
				outline: none;
				border: none;

				div {
					opacity: 0;
					width: 100%;
					height: 5px;
					background-color: $colors-black;
					transition: all .3s ease;
				}

				&::before, &::after {
					content: "";
					background-color: $colors-primary;
					width: 100%;
					height: 5px;
					position: absolute;
					left: 0;
					transition: all .3s ease;
				}
				&::before {
					top: calc(50% - 7px);
				}
				&::after {
					bottom: calc(50% - 7px);
				}

				&:hover {
					div {
						opacity: 1;
					}
					&::before {
						top: calc(50% - 7px*2);
					}
					&::after {
						bottom: calc(50% - 7px*2);
					}
				}
			}
		}

		nav {
			padding: 15px 0;

			ul li {
				list-style: none;

				a {
					color: $colors-black;
					display: block;
					text-decoration: none;
					transition: all .2s ease;
				}

				&:not(.contact) a {
					padding: 15px 0;

					&.current, &:hover {
						color: $colors-primary;
					}

					&.current {
						position: relative;

						&::after {
							position: absolute;
							bottom: 0;
							left: 0;
							content: "";
							width: 100%;
							height: 5px;
							background-color: $colors-primary;
							border-top-left-radius: 50px;
							border-top-right-radius: 50px;
						}
					}
				}

				&:not(:first-child) {
					margin-left: 30px;
				}
			}
		}
		&.mobile .header-wrapper {
			background: $colors-white;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	/* responsive nav */
	.responsive-menu {
		@include layout.flex((j-c: center, a-i: center, w: wrap));

		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		min-height: 100vh;
		background-color: $colors-white;
		border-bottom: 10px solid $colors-primary;
		z-index: 20;
		transition: all .5s ease;

		.nav-menu-btn-close {
			position: absolute;
			right: 10px;
			top: 10px;

			button {
				width: 30px;
				height: 30px;
				position: relative;
				outline: none;
				background-color: transparent;
				border: none;
				cursor: pointer;

				&::before, &::after {
					content: "";
					width: 100%;
					height: 3px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: $colors-primary;
					transition: all .3s ease;
				}
				&:hover::before {
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:hover::after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}

		.content-wrapper {
			@include layout.flex((j-c: space-between, a-i: center, w: wrap));
			width: 100%;

			.info {
				width: 300px;
				padding: 30px;

				h5 {
					font-size: 1.8rem;
					color: $colors-primary;
				}
				ul {
					li {
						list-style: none;
						position: relative;

						span {
							font-weight: 500;
						}

						strong {
							color: $colors-primary;							
							font-weight: 400;
						}
					}
				}

				.cta-btn {
					padding: 8px 15px;
					margin-top: 30px;
				}

				.logo {
					display: none;
				}
			}

			.nav {
				@include layout.flex((a-c: stretch, w: wrap));
				width: calc(100% - 300px);
				height: 100vh;
				padding: 30px;
				background-color: $colors-gray;

				li {
					@include layout.flex((a-i: center, w: wrap));
					position: relative;
					width: 100%;
					list-style: none;

					a {
						padding: 10px 0;
						margin-left: 30px;
						text-decoration: none;
						color: $colors-black;
						position: relative;

						&.current {
							color: $colors-primary;
						}

						&::before {
							content: "";
							position: absolute;
							left: -30px;
							top: 50%;
							transform: translateY(-50%);
							width: 0px;
							height: 3px;
							transition: all .3s ease;
						}

						&:hover::before, &.current::before {
							background-color: $colors-primary;
							width: 20px;
						}
					}

					&:not(:first-child)::after {
						content: "";
						width: 100%;
						height: 1px;
						position: absolute;
						top: 0;
						background-color: $colors-gray-title;
					}
				}
			}
		}

		&.showed {
			right: 0
		}
	}
	
	/* footer */
	footer {
		background-color: $colors-gray;
		padding: 50px 0;

		.general-margin {
			@include layout.flex((j-c: space-between, a-i: flex-start, w: wrap));
		}

		.content-wrapper {
			width: max-content;

			h4 {
				color: $colors-gray-title;
				font-weight: 500;
				margin-bottom: 20px;
				text-transform: uppercase;
				width: max-content;
			}
			&:first-child h4 {
				color: $colors-primary;
				font-weight: 600;
			}
			.logo {
				margin-top: 20px;
			}

			ul {
				width: max-content;

				li {
					list-style: none;
					color: $colors-gray-text;

					a {
						color: inherit;
						display: block;
						font-size: 0.9rem;
						font-weight: 500;
						text-decoration: none;
						text-transform: uppercase;
						transition: all .2s ease;
					}
				}
			}
			&:not(.social-networks) li {
				a:hover {
					color: $colors-black;
				}

				&:not(:first-child) {
					margin-top: 8px;
				}
			}
			&.social-networks ul {
				@include layout.flex((w: wrap, j-c: space-between, a-i: center));

				li {
					&:not(:first-child) {
						margin-left: 30px;
						position: relative;

						&::before {
							content: "";
							background-color: $colors-gray-deco;
							height: 100%;
							left: -16px;
							position: absolute;
							width: 2px;
						}
					}

					a {
						@include layout.flex((w: wrap, j-c: center, a-i: center));

						background-color: $colors-primary;
						border-radius: 10px;
						color: $colors-white;
						font-size: 1.4rem;
						height: 35px;
						width: 35px;
					}
				}
			}
		}
	}

/* Media Queries */
	@media (max-width: 1100px) {
		.general-margin {
			width: 85%;
		}
	}
	@media (max-width: 900px) {
		/* header */
		header {
			height: 123px;

			.header-wrapper {
				height: 80px;

				.nav-menu-btn-open-wrapper {
					display: block;
				}

				nav {
					width: 100%;
					position: fixed;
					top: 0;
					left: -100%;
				}
			}
		}

		footer {
			.social-networks {
				display: none;
			}
		}
	}
	@media (max-width: 750px) {
		.general-margin {
			width: 75%;
		}
		
		.two-content-wrapper {
			align-items: center;
			justify-self: center;
			flex-direction: column-reverse;

			.longest-side {
				width: 100%;
			}
		
			.shortest-side {	
				width: calc(40% - 15px);			
			}
		}

		hgroup {
			margin-left: auto !important;
			margin-right: auto !important;
			text-align: center !important;
			width: calc(80%) !important;
	
			&::after {
				left: 50% !important;
				transform: translateX(-50%) !important;
			}
		}

		/* header */
		header {
			height: 110px;

			.contact-info {
				ul {
					&.extended-social-networks li span {
						display: none
					}
				}
			}

			.header-wrapper {
				height: 70px;

				.logo {
					padding: 15px 0;
				}
			}
		}
		footer {
			.content-wrapper {
				&:not(:first-child) {
					margin-top: 40px;
				}

				&:first-child {
					width: 100%;
					text-align: center;

					ul, p, h4 {
						width: 100%;
					}
					.logo {
						margin-top: 10px;
						img {
							margin: 0 auto;
						}
					}
				}
				&.social-networks {
					display: block;
				}
			}
		}
	}
	@media (max-width: 700px) {
		footer {
			.content-wrapper {
				width: 100%;

				&:not(:first-child) {
					margin-top: 20px;
				}

				h4 {
					width: 100%;
					text-align: center;
				}

				&:not(.social-networks) {
					ul {
						width: 100%;
						text-align: center;
					}
				}
				&.social-networks {
					ul {
						margin: 0 auto;
					}
				}
			}
		}		
	}
	@media (max-width: 500px) {
		p {
			text-align: justify;
		}
		.general-margin {
			width: calc(100% - 40px);
		}
		/* responsive nav */
		.responsive-menu {
			.content-wrapper {
				.nav {
					width: 100%;
				}
				.info {
					display: none;
				}
			}
		}
	}