@font-face {
  font-family: firasans;
  font-weight: 400;
  src: url("../fonts/firasans/Regular.ttf");
}
@font-face {
  font-family: firasans;
  font-weight: 500;
  src: url("../fonts/firasans/Medium.ttf");
}
@font-face {
  font-family: firasans;
  font-weight: 700;
  src: url("../fonts/firasans/Bold.ttf");
}
@font-face {
  font-family: rubik;
  font-weight: 400;
  src: url("../fonts/rubik/Regular.ttf");
}
@font-face {
  font-family: rubik;
  font-weight: 500;
  src: url("../fonts/rubik/Medium.ttf");
}
@font-face {
  font-family: rubik;
  font-weight: 600;
  src: url("../fonts/rubik/SemiBold.ttf");
}
@font-face {
  font-family: rubik;
  font-weight: 700;
  src: url("../fonts/rubik/Bold.ttf");
}
textarea, select, option, label, input, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

button, input {
  outline: none;
}

input::placeholder {
  color: inherit;
  font-family: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  line-height: 1.5;
}

img {
  display: block;
}

body {
  overflow-y: hidden;
}

/* Preloader Page Animation */
.preloader-page {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #0B6CAC;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 20;
  transition: all 0.5s ease;
  /** Global preloader styles **/
  /* Fade Animation */
  /* Leap Frog */
}
.preloader-page.displayed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.preloader-page.showed {
  background-color: #FFFFFF;
  opacity: 1;
}
.preloader-page.showed .pl,
.preloader-page.showed .pl:before,
.preloader-page.showed .pl:after {
  opacity: 1;
}
.preloader-page .pl,
.preloader-page .pl:before,
.preloader-page .pl:after {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.preloader-page .pl {
  margin: 0 auto 1.5em auto;
  position: relative;
  width: 4em;
  height: 4em;
}
.preloader-page .pl:before,
.preloader-page .pl:after {
  background: #0B6CAC;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.preloader-page .pl-fade:before {
  animation-name: fadeA;
}
.preloader-page .pl-fade:after {
  animation-name: fadeB;
}
@keyframes fadeA {
  from, to {
    opacity: 1;
    transform: rotate(0deg);
  }
  25%, 75.1% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25.1%, 75% {
    opacity: 0;
    transform: rotate(180deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
}
@keyframes fadeB {
  from, 50% {
    opacity: 0;
    transform: rotate(90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(90deg);
  }
  50.1%, to {
    opacity: 0;
    transform: rotate(270deg);
  }
  75% {
    opacity: 1;
    transform: rotate(270deg);
  }
}
.preloader-page .pl-leapfrog:before, .preloader-page .pl-leapfrog:after {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  top: 50%;
  left: 50%;
  width: 70.71%;
  height: 70.71%;
  transform-origin: 0 0;
}
.preloader-page .pl-leapfrog:before {
  animation-name: leapFrogA;
}
.preloader-page .pl-leapfrog:after {
  animation-name: leapFrogB;
  background: #DDDDDD;
}
@keyframes leapFrogA {
  from {
    transform: rotateZ(-135deg) rotateY(0deg) rotateX(0deg);
    z-index: 0;
  }
  12.5% {
    transform: rotateZ(-135deg) rotateY(-180deg) rotateX(0deg);
    z-index: 1;
  }
  25%, 50% {
    transform: rotateZ(-135deg) rotateY(-180deg) rotateX(-180deg);
    z-index: 0;
  }
  62.5% {
    transform: rotateZ(-135deg) rotateY(0deg) rotateX(-180deg);
    z-index: 1;
  }
  75%, to {
    transform: rotateZ(-135deg) rotateY(0deg) rotateX(-360deg);
    z-index: 0;
  }
}
@keyframes leapFrogB {
  from, 25% {
    transform: rotateZ(-45deg) rotateY(0deg) rotateX(0deg);
    z-index: 0;
  }
  37.5% {
    transform: rotateZ(-45deg) rotateY(-180deg) rotateX(0deg);
    z-index: 1;
  }
  50%, 75% {
    transform: rotateZ(-45deg) rotateY(-180deg) rotateX(-180deg);
    z-index: 0;
  }
  87.5% {
    transform: rotateZ(-45deg) rotateY(0deg) rotateX(-180deg);
    z-index: 1;
  }
  to {
    transform: rotateZ(-45deg) rotateY(0deg) rotateX(-360deg);
    z-index: 0;
  }
}

/* All */
.general-margin {
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5 {
  font-family: "firasans";
  color: #040404;
}

h2 {
  font-size: 1.8rem;
}

p:not(:first-child) {
  margin-top: 10px;
}

a.cta-btn {
  background-color: transparent;
  border: 2px solid #0B6CAC;
  border-radius: 50px;
  color: #0B6CAC;
  display: inline-block;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
a.cta-btn.active, a.cta-btn:hover {
  background-color: #0B6CAC;
  color: #FFFFFF;
}

hgroup {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
hgroup h3 {
  color: #0B6CAC;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
hgroup::after {
  background-color: #0B6CAC;
  border-radius: 10px;
  bottom: 0;
  content: "";
  height: 5px;
  position: absolute;
  width: 50px;
}
hgroup.center-dir {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}
hgroup.center-dir::after {
  left: 50%;
  transform: translateX(-50%);
}

section {
  padding: 80px 0;
}
section .btn-wrapper {
  margin-top: 30px;
}
section .normal-list li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 5px;
}
section .normal-list li i {
  color: #0B6CAC;
  display: block;
  text-align: center;
  width: 40px;
}
section .normal-list li div {
  width: calc(100% - 40px);
}
section.blue-bg h1, section.blue-bg h2, section.blue-bg p {
  color: #FFFFFF;
}
section.blue-bg h3 {
  color: #DDDDDD;
}
section.blue-bg hgroup::after {
  background-color: #DDDDDD;
}
section.blue-bg .cta-btn {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
section.blue-bg .cta-btn.active, section.blue-bg .cta-btn:hover {
  background-color: #FFFFFF;
  color: #0B6CAC;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 110px);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.banner h1 {
  color: #FFFFFF;
  font-size: 4rem;
  position: relative;
  text-align: center;
  z-index: 2;
}
.banner h1 .h1-page, .banner h1 .h1-name {
  display: block;
}
.banner h1 .h1-name {
  color: #BCBCBC;
}
.banner.grow {
  min-height: calc(100vh - 38px);
}

.two-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.two-content-wrapper .longest-side {
  width: calc(60% - 25px);
}
.two-content-wrapper .longest-side hgroup {
  width: 100%;
  text-align: left;
}
.two-content-wrapper .longest-side hgroup::after {
  left: 0;
  transform: translateY(-50%);
}
.two-content-wrapper .shortest-side {
  position: relative;
  width: calc(40% - 15px);
}
.two-content-wrapper .left-side, .two-content-wrapper .right-side {
  width: calc(50% - 20px);
}

.three-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.logo {
  height: 100px;
}
.logo img {
  height: 100%;
}

.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 108, 172, 0.85);
  z-index: 0;
}

/* Specific */
/* header */
header {
  background-color: #FFFFFF;
  position: relative;
  z-index: 10;
  height: 143px;
}
header .general-margin, header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .general-margin {
  height: 100%;
}
header .header-wrapper {
  height: 100px;
}
header .contact-info {
  background-color: #F1F1F1;
  padding: 5px 0;
}
header .contact-info ul li {
  list-style: none;
  position: relative;
}
header .contact-info ul li a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  text-decoration: none;
}
header .contact-info ul li a i {
  color: #0B6CAC;
  font-size: 1.2rem;
}
header .contact-info ul li a span {
  color: #040404;
  font-size: 0.9rem;
  margin-left: 10px;
}
header .contact-info ul.extended-social-networks li:not(:first-child) {
  margin-left: 15px;
}
header .contact-info ul.social-networks li:not(:first-child) {
  margin-left: 30px;
}
header .contact-info ul.social-networks li:not(:first-child)::before {
  content: "";
  background-color: #DDDDDD;
  height: 100%;
  left: -16px;
  position: absolute;
  width: 2px;
}
header .logo {
  width: auto;
  height: 100%;
  padding: 10px 0;
}
header .logo img {
  height: 100%;
  width: auto;
}
header .nav-menu-btn-open-wrapper {
  display: none;
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open {
  display: block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open div {
  opacity: 0;
  width: 100%;
  height: 5px;
  background-color: #040404;
  transition: all 0.3s ease;
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open::before, header .nav-menu-btn-open-wrapper .nav-menu-btn-open::after {
  content: "";
  background-color: #0B6CAC;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open::before {
  top: calc(50% - 7px);
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open::after {
  bottom: calc(50% - 7px);
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open:hover div {
  opacity: 1;
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open:hover::before {
  top: calc(50% - 14px);
}
header .nav-menu-btn-open-wrapper .nav-menu-btn-open:hover::after {
  bottom: calc(50% - 14px);
}
header nav {
  padding: 15px 0;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #040404;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;
}
header nav ul li:not(.contact) a {
  padding: 15px 0;
}
header nav ul li:not(.contact) a.current, header nav ul li:not(.contact) a:hover {
  color: #0B6CAC;
}
header nav ul li:not(.contact) a.current {
  position: relative;
}
header nav ul li:not(.contact) a.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #0B6CAC;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
header nav ul li:not(:first-child) {
  margin-left: 30px;
}
header.mobile .header-wrapper {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* responsive nav */
.responsive-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  border-bottom: 10px solid #0B6CAC;
  z-index: 20;
  transition: all 0.5s ease;
}
.responsive-menu .nav-menu-btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.responsive-menu .nav-menu-btn-close button {
  width: 30px;
  height: 30px;
  position: relative;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.responsive-menu .nav-menu-btn-close button::before, .responsive-menu .nav-menu-btn-close button::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0B6CAC;
  transition: all 0.3s ease;
}
.responsive-menu .nav-menu-btn-close button:hover::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.responsive-menu .nav-menu-btn-close button:hover::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.responsive-menu .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.responsive-menu .content-wrapper .info {
  width: 300px;
  padding: 30px;
}
.responsive-menu .content-wrapper .info h5 {
  font-size: 1.8rem;
  color: #0B6CAC;
}
.responsive-menu .content-wrapper .info ul li {
  list-style: none;
  position: relative;
}
.responsive-menu .content-wrapper .info ul li span {
  font-weight: 500;
}
.responsive-menu .content-wrapper .info ul li strong {
  color: #0B6CAC;
  font-weight: 400;
}
.responsive-menu .content-wrapper .info .cta-btn {
  padding: 8px 15px;
  margin-top: 30px;
}
.responsive-menu .content-wrapper .info .logo {
  display: none;
}
.responsive-menu .content-wrapper .nav {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  width: calc(100% - 300px);
  height: 100vh;
  padding: 30px;
  background-color: #F1F1F1;
}
.responsive-menu .content-wrapper .nav li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  list-style: none;
}
.responsive-menu .content-wrapper .nav li a {
  padding: 10px 0;
  margin-left: 30px;
  text-decoration: none;
  color: #040404;
  position: relative;
}
.responsive-menu .content-wrapper .nav li a.current {
  color: #0B6CAC;
}
.responsive-menu .content-wrapper .nav li a::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 3px;
  transition: all 0.3s ease;
}
.responsive-menu .content-wrapper .nav li a:hover::before, .responsive-menu .content-wrapper .nav li a.current::before {
  background-color: #0B6CAC;
  width: 20px;
}
.responsive-menu .content-wrapper .nav li:not(:first-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  background-color: #BCBCBC;
}
.responsive-menu.showed {
  right: 0;
}

/* footer */
footer {
  background-color: #F1F1F1;
  padding: 50px 0;
}
footer .general-margin {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .content-wrapper {
  width: max-content;
}
footer .content-wrapper h4 {
  color: #BCBCBC;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: max-content;
}
footer .content-wrapper:first-child h4 {
  color: #0B6CAC;
  font-weight: 600;
}
footer .content-wrapper .logo {
  margin-top: 20px;
}
footer .content-wrapper ul {
  width: max-content;
}
footer .content-wrapper ul li {
  list-style: none;
  color: #555555;
}
footer .content-wrapper ul li a {
  color: inherit;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
footer .content-wrapper:not(.social-networks) li a:hover {
  color: #040404;
}
footer .content-wrapper:not(.social-networks) li:not(:first-child) {
  margin-top: 8px;
}
footer .content-wrapper.social-networks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .content-wrapper.social-networks ul li:not(:first-child) {
  margin-left: 30px;
  position: relative;
}
footer .content-wrapper.social-networks ul li:not(:first-child)::before {
  content: "";
  background-color: #DDDDDD;
  height: 100%;
  left: -16px;
  position: absolute;
  width: 2px;
}
footer .content-wrapper.social-networks ul li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0B6CAC;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1.4rem;
  height: 35px;
  width: 35px;
}

/* Media Queries */
@media (max-width: 1100px) {
  .general-margin {
    width: 85%;
  }
}
@media (max-width: 900px) {
  /* header */
  header {
    height: 123px;
  }
  header .header-wrapper {
    height: 80px;
  }
  header .header-wrapper .nav-menu-btn-open-wrapper {
    display: block;
  }
  header .header-wrapper nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
  }
  footer .social-networks {
    display: none;
  }
}
@media (max-width: 750px) {
  .general-margin {
    width: 75%;
  }
  .two-content-wrapper {
    align-items: center;
    justify-self: center;
    flex-direction: column-reverse;
  }
  .two-content-wrapper .longest-side {
    width: 100%;
  }
  .two-content-wrapper .shortest-side {
    width: calc(40% - 15px);
  }
  hgroup {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 80% !important;
  }
  hgroup::after {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  /* header */
  header {
    height: 110px;
  }
  header .contact-info ul.extended-social-networks li span {
    display: none;
  }
  header .header-wrapper {
    height: 70px;
  }
  header .header-wrapper .logo {
    padding: 15px 0;
  }
  footer .content-wrapper:not(:first-child) {
    margin-top: 40px;
  }
  footer .content-wrapper:first-child {
    width: 100%;
    text-align: center;
  }
  footer .content-wrapper:first-child ul, footer .content-wrapper:first-child p, footer .content-wrapper:first-child h4 {
    width: 100%;
  }
  footer .content-wrapper:first-child .logo {
    margin-top: 10px;
  }
  footer .content-wrapper:first-child .logo img {
    margin: 0 auto;
  }
  footer .content-wrapper.social-networks {
    display: block;
  }
}
@media (max-width: 700px) {
  footer .content-wrapper {
    width: 100%;
  }
  footer .content-wrapper:not(:first-child) {
    margin-top: 20px;
  }
  footer .content-wrapper h4 {
    width: 100%;
    text-align: center;
  }
  footer .content-wrapper:not(.social-networks) ul {
    width: 100%;
    text-align: center;
  }
  footer .content-wrapper.social-networks ul {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  p {
    text-align: justify;
  }
  .general-margin {
    width: calc(100% - 40px);
  }
  /* responsive nav */
  .responsive-menu .content-wrapper .nav {
    width: 100%;
  }
  .responsive-menu .content-wrapper .info {
    display: none;
  }
}

/*# sourceMappingURL=general.css.map */
